# Ignore cargo target dir
/target

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore lsp stuff
kls_database.db
# Android Studio stuff and overrides.
.project
.settings/
.idea/
local.properties
